// COLORES EN MEDIAQUERYS

@import "./node_modules/bootstrap/scss/bootstrap.scss";

@import "./node_modules/bootstrap/scss/functions";
@import "./node_modules/bootstrap/scss/variables";
@import "./node_modules/bootstrap/scss/mixins";


@include media-breakpoint-only(xs) {
    body{
        background-color: yellowgreen;
    } 
}
@include media-breakpoint-only(sm) {
    body{
        background-color: orange;
    }
}
@include media-breakpoint-only(md) {
    body{
        background-color: orangered;
    }
}
@include media-breakpoint-only(lg) {
    body{
        background-color: aqua;
    }
}
@include media-breakpoint-only(xl) {
    body{
        background-color: dodgerblue;
    }
}
@include media-breakpoint-only(xxl) {
    body{
        background-color: crimson;
    }
}


