$primary: #20c997;
$secondary: #dc3545;
$success: #d63384;
$info: #ffc107;
$warning: #0d6efd;
$danger: #dc3545;
$light: white;
$dark: lightgrey;
@import "./node_modules/bootstrap/scss/bootstrap.scss";


