
$primary: #ffc107;
$secondary: #fff3cd;
$success: #fd7e14;
$info: #dc3545;
$warning: rgb(227, 153, 84);
$danger: darkred;
$light: crimson;
$dark: black;


@import "./node_modules/bootstrap/scss/bootstrap.scss";