$primary: #0dcaf0;
$secondary: #20c997;
$success: #0d6efd;
$info: #6f42c1;
$warning: rgb(123, 65, 123);
$danger: #d63384;
$light: #dc3545;
$dark: black;
@import "./node_modules/bootstrap/scss/bootstrap.scss";