// COLORES

$primary: crimson;
$secondary: orange;
$success: yellowgreen;
$info: pink;
$warning: orangered;
$danger: darkred;
$light: lightblue;
$dark: black;

@import "./node_modules/bootstrap/scss/bootstrap.scss";